@font-face {
    font-family: 'dancing_scriptregular';
    src: url('dancingscript-regular.woff2') format('woff2'),
         url('dancingscript-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dancing_scriptbold';
    src: url('dancingscript-bold.woff2') format('woff2'),
         url('dancingscript-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'comfortaabold';
    src: url('comfortaa-bold.woff2') format('woff2'),
         url('comfortaa-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'comfortaalight';
    src: url('comfortaa-light.woff2') format('woff2'),
         url('comfortaa-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'comfortaaregular';
    src: url('comfortaa-regular.woff2') format('woff2'),
         url('comfortaa-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'patrick_handregular';
    src: url('patrickhand-regular.woff2') format('woff2'),
         url('patrickhand-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'prataregular';
    src: url('prata-regular.woff2') format('woff2'),
         url('prata-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pacificoregular';
    src: url('pacifico-regular.woff2') format('woff2'),
         url('pacifico-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVN Buc Thu';
    src: url('UVN_Buc_Thu.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Miller Banner';
    src: url('SVN-Miller-Banner.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}